doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 "The future home, of something awesome!"
    p "Occupy polaroid selvage, etsy fixie sustainable DIY yuccie farm-to-table helvetica live-edge mustache brooklyn slow-carb."
    